<div class="container">
    <h2>Empresas Cadastradas</h2>
  
    <div *ngIf="loading">Carregando...</div>
  
    <table *ngIf="!loading" class="table table-striped">
      <thead>
        <tr>
          <th>Nome Empresarial</th>
          <th>Nome Fantasia</th>
          <th>CNPJ</th>
          <th>Situação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas">
          <td>{{ empresa.nome_empresarial }}</td>
          <td>{{ empresa.nome_fantasia }}</td>
          <td>{{ empresa.cnpj }}</td>
          <td>{{ empresa.situacao }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  