<div class="container">
  <h2>Cadastro de Empresa</h2>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  
  <div *ngIf="loading" class="loading-message">Carregando...</div>

  <div class="form-group">
    <label for="cnpj">CNPJ:</label>
    <input 
      type="text" 
      [(ngModel)]="cnpj" 
      (input)="onCnpjInput($event)" 
      maxlength="14" 
      placeholder="Digite o CNPJ" 
      class="form-control">
  </div>

  <button
    class="btn btn-primary mt-3"
    (click)="salvarEmpresa()"
    [disabled]="!cnpj"
  >
    Cadastrar
  </button>
</div>
